
<div id="game" class="row">
    <div class="column">
        <pre>
            <%= figure_for(@tally.turns_left) %>
        </pre>
    </div>

    <div class="column">
        <p>Turns Left: <%= @tally.turns_left %></p>
        <p>Letters used: <%= @tally.used |> Enum.join(", ") %></p>
        <p>Letters used: <%= @tally.letters |> Enum.join(" ") %></p>
        <%= move_status(@tally.game_state) |> raw %>
        <%= continue_or_try_again(@conn, @tally.game_state) %>
    </div>
</div>
